* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 100%;
    color: #000;
    line-height: 1.4;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5.5em 3em;
    background-color: #0E0E0E;
    background-image: url(img/movie-posters.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 30vh;
    min-height: calc(22.6px + 88px);
}

main {
    padding: 0 3em;
    /* height: 43vh; */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container-search {
    width: 100%;
    display: flex;
    margin-bottom: -6.65em;
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.pd-btm-md {
    padding-bottom: 3em;
}

.mrg-rt-sml {
    margin-right: .4em;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: inherit;
}

#search-movie {
    background: url(img/search-icon.svg) center left 15px no-repeat;
    padding-left: 3em;
    padding-right: 6em;
    width: 100%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    background-color: #fff;
    color: #6B7280;
}

#search-movie, #search-movie-btn {
    height: 2.8em;
    border: 1px solid #d1d5db;
}

input[type="text"]:focus {
     outline: none;
}


#search-movie-btn {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    margin-left: -5em;
    width: 30%;
}

input[type="button"] {
    color: #374151;
    cursor: pointer;
    background-color: #F9FAFB;
}

#search-movie-btn:active {
    background-color: #f1f3f5;
}

.search-msg {
    text-align: center;
    color: #dfdddd;
    margin-top: .6em;
}

.search-tip {
    margin-top: 0;
}

.grandma-flex {
    display: flex;
    gap: 2em;
    margin-bottom: 3em;
}

.parent-test-flex {
    display: flex;
    width: 100%;
    padding-bottom: 2em;
    border-bottom: 1.5px solid #E5E7EB;
}

.second-test-flex {
    display: flex;
    align-items: center;
    font-weight: 400;
}

.second-test-flex>p {
    margin: 5px 0;
    margin-right: 20px;
}

.movie-description {
    margin: 5px 0;
}

.movie-poster {
    margin-right: 1em;
    max-width: 200px;
    height: auto
}

.flex-col

.movie-title {
    font-weight: 500;
}

@media screen and (min-width: 500px) {
    .container {
        flex-direction: row;
    }
}